body{
	min-width: 768px;
}
.b-block{
	width: calc(100% - 48px);
}
.b-3-phone{
	right: 2%;
    width: 97px;
    height: 96px;
}
.b-4-list{
	width: 960px;
}
@media screen and (max-width: 960px){
	.b-4-item{
		width: calc(100%/3 - 20px);
	    margin-right: 18px;
	}
	.b-menu li{
		display: block;
		margin-bottom: 5px;
	}
	.b-menu a{
		font-size: 20px;
	}
	.b-4-list{
		width: 100%;
	}
	.b-5-list{
		width: 100%;
		margin-top: 60px;
	}
		.b-5-item{
			margin-bottom: 15px;
		}
		.b-5-item:nth-child(1){
			width: 100%;
		}
		.b-5-item:nth-child(2){
			width: 100%;
		}
		.b-5-item:nth-child(3){
			width: 100%;
		}
		.b-input-string{
		    width: calc(100%/3 - 12px);
    		margin-right: 14px;
		}
			.b-input-string input, .b-textarea-container textarea{
				font-size: 24px;
			}
}